# Mainnet RPC URL used for fetching blockchain data. Alchemy is recommended.
PONDER_RPC_URL_10143=
PONDER_TELEMETRY_DISABLED=true
PONDER_LOG_LEVEL=trace

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=
DATABASE_SCHEMA=ponder